#offre_emploi.container
  .row
    - for (let i =0; i < listEmploi.length; i++)
         - let date_format = new Date(listEmploi[i].date)
         - let date_final = date_format.toISOString().slice(0,10);
         - let nbModal = 'Annonce' + i
         - let nom_emploi = listEmploi[i].name_poste
         .col-6.col-md-5.offset-1.content_emploi
          h2= listEmploi[i].name_poste
          .info_emploi
            img.logo_entreprise(src='http://via.placeholder.com/150x150')
            .detail_emploi
              ul.list_detail
                li.liste_emploi
                    i.fa.fa-calendar.mr-2.fa-2x
                    p= date_final
                li.liste_emploi
                    i.fa.fa-building.mr-2.fa-2x
                    p= listEmploi[i].name_recruteur
                li.liste_emploi
                    i.fa.fa-briefcase.mr-2.fa-2x
                    p= listEmploi[i].duree
                li.liste_emploi
                    i.fa.fa-map-marker.mr-2.fa-2x
                    p= listEmploi[i].ville
          button.btn.btn-primary.btn_modal_emploi(type='button' data-toggle='modal' data-target= '#Annonce' + i) En savoir plus..
          div(id=nbModal).modal.fade
            .modal-dialog.modal-lg
              .modal-content
                // Modal Header
                .modal-header
                  h2.modal-title= listEmploi[i].name_poste
                  button.close(type='button' data-dismiss='modal') &times;
                // Modal body
                .modal-body
                  h3= listEmploi[i].name_recruteur
                  .container
                    .row
                      .col-12
                        .descri_entreprise
                          p= listEmploi[i].txt_entreprise
                  .contexte_annonce
                    .container
                      .row
                        .col-12.col-lg-6
                          img.logo_modal(src='http://via.placeholder.com/300x300')
                        .col-12.col-lg-6.descri_modal
                          .profil_modal
                            h4  Description du poste
                            p= listEmploi[i].txt_poste

                          .competence_modal
                            h4  Competence Requise
                            p
                                pre.txt_profil_modal= listEmploi[i].txt_competences

                // Modal footer
                .modal-footer
                  button.btn.btn-secondary(type='button' data-dismiss='modal') Fermer
